@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

body {
  font-family: 'Tinos', serif;
  font-size: larger;
  background-color: rgb(39, 38, 38);
}
.App {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.App > form {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin: 2rem;
  background-color: #ececec;
  padding: 0.3rem;
  border-radius: 10px;
  width: 350px;
}

.App form .form-group{
  margin: 0.3rem;
}

.App form .form-group label {
  margin-right: 10px;
}

.App form .form-group INPUT[type="text"] {
  width: 80%;
  border-radius: 5px;
}

.App .details {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin: 1rem;
  background-color: #ececec;
  padding: 0.3rem;
  border-radius: 10px;
  min-width: 350px;
  box-shadow: #e2eae4 0px 0px 10px;
}

.App .details > P {
  margin: 0.3rem;
  padding: 0;
}


